.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-black--light);
  color: var(--color-main-background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
