.header {
  background-color: var(--color-white-d--1);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.05rem 0.05rem var(--color-shadow);
}

.input--text {
  width: 15rem;
}

.input--text:focus {
  width: 16rem;
}
