.btn {
  border: none;
  padding: 1rem 3rem;
  background-color: var(--color-primary);
  cursor: pointer;
  display: inline-block;
  box-shadow: 0 0.1rem 0.1rem var(--color-shadow);
}

.btn--location {
  position: fixed;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, -0.5rem);
  padding: 0;
  display: inline-block;
  text-align: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.btn--location::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  border-radius: 50%;
  z-index: -1;
  animation: pulse 1.5s infinite ease-in-out;
}

.material-icons {
  color: var(--color-white);
}

.btn--menu {
  background-color: var(--color-white-d--4);
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;

  &:hover {
    box-shadow: 0 0.25rem 0.25rem var(--color-shadow);
  }
  &:active {
    box-shadow: 0 0.1rem 0.1rem var(--color-shadow);
  }
}

@keyframes pulse {
  to {
    scale: 1.5;
    opacity: 0;
  }
}
