.card {
  width: 30rem;
  height: 38rem;
  background-color: var(--color-surface-background);
  border-radius: 1rem;
}

.card__flag {
  height: 20rem;
  background-color: bisque;
}

.card__details {
  padding: 0 1.6rem;
}
